[package]
name = "csv-to-json"
version = "0.1.0"
edition.workspace = true
rust-version.workspace = true
authors.workspace = true
license.workspace = true

[dependencies]
csv = "1"
serde = { version = "1", features = ["derive"] }
serde_json = "1"
