[package]
name = "parallel-processing"
version = "0.1.0"
edition.workspace = true
rust-version.workspace = true

[dependencies]
rayon = "1.5"
num_cpus = "1.13"

[dev-dependencies]
criterion = "0.4"

[[bench]]
name = "benchmark"
harness = false