[package]
name = "wallet-cli"
version = "0.1.0"
edition.workspace = true
rust-version.workspace = true
authors.workspace = true
license.workspace = true

[dependencies]
k256 = { version = "0.13", features = ["ecdsa"] }
